@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --secondaryBackground: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --secondaryBackground: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
  }

  .hero-img {
    animation: morph 8s ease-in-out infinite;
    background-image: url(https://avatars.githubusercontent.com/u/97087756?s=400&u=4b46603d9c90d54e16f84621e7cc6b4a14a3d1ff&v=4);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 15rem;
  }

  .skills {
    align-items: center;
    display: flex;
    font-size: 1.7rem;
  }

  .skills h1 {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    margin-right: 7rem;
    padding-right: 2rem;
  }

  .skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    list-style: none;
  }

  .skills ul li {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
    cursor: pointer;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 4rem;
  }

  .img-side {
    position: relative;
  }

  .work-emoji {
    bottom: 20px;
    position: absolute;
    right: 83px;
    width: 6rem !important;
    z-index: 10;
  }

  .img-side__main-img {
    border-radius: 1.7rem;
  }

  .img-side span {
    background-color: #fff;
    border-radius: 50%;
    bottom: -33px;
    height: 12rem;
    position: absolute;
    right: 33px;
    width: 12rem;
  }

  /* .text-side {} */

  .text-side h3 {
    font-size: 2.5rem;
    line-height: 1.4;
    margin-bottom: 2rem;
  }

  .project-content h3 {
    font-size: 1.5rem;
  }

  .project-content h1 {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    width: fit-content;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .projects-grid .pro__1 {
    flex-direction: row;
    height: 25rem;
    padding: 1.5rem;
  }

  .projects-grid .pro {
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
  }

  .projects-grid .pro__img {
    border-radius: 1.7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .projects-grid .pro__img img {
    height: auto;
    width: 100%;
    transform: translateY(0%);
    transition: transform 10s ease-in-out 0s;

  }

  .stack {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }

  .stack p {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-weight: 600 !important;
    padding: 1rem 1.3rem;
  }

  .contact__icons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 3rem;
  }

  .contact__icon-box {
    align-items: center;
    display: flex;
    gap: 1.2rem;
  }

  .contact__icon-box span {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 1rem;
  }

  .contact__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .contact__info h3 {
    font-size: 1rem;
  }

  .contact__info a,
  .contact__info p {
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
  }
}



.main-container-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  position: relative;
  width: 600px;
  height: 300px;
  background: lightgrey;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(255, 255, 255);
}

.background {
  position: absolute;
  inset: 0;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.logo {
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: all 0.6s ease-in-out;
  font-size: 1.3em;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 3px;
}

.logo .logo-svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon .svg {
  fill: rgba(255, 255, 255, 0.797);
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.box {
  position: absolute;
  padding: 10px;
  text-align: right;
  background: rgba(255, 255, 255, 0.389);
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 1px solid white;
  border-radius: 10% 13% 42% 0%/10% 12% 75% 0%;
  box-shadow: rgba(100, 100, 111, 0.364) -7px 7px 29px 0px;
  transform-origin: bottom left;
  transition: all 1s ease-in-out;
}

.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.box:hover .svg {
  fill: white;
}

.box1 {
  width: 70%;
  height: 70%;
  bottom: -70%;
  left: -70%;
}

.box1::before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #ff53d4 60%, #62c2fe 90%);
}

.box1:hover::before {
  opacity: 1;
}

.box1:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box2 {
  width: 50%;
  height: 50%;
  bottom: -50%;
  left: -50%;
  transition-delay: 0.2s;
}

.box2::before {
  background: radial-gradient(circle at 30% 107%, #91e9ff 0%, #00ACEE 90%);
}

.box2:hover::before {
  opacity: 1;
}

.box2:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box3 {
  width: 30%;
  height: 30%;
  bottom: -30%;
  left: -30%;
  transition-delay: 0.4s;
}

.box3::before {
  background: radial-gradient(circle at 30% 107%, #969fff 0%, #b349ff 90%);
}

.box3:hover::before {
  opacity: 1;
}

.box3:hover .icon .svg {
  filter: drop-shadow(0 0 5px white);
}

.box4 {
  width: 10%;
  height: 10%;
  bottom: -10%;
  left: -10%;
  transition-delay: 0.6s;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .box {
  bottom: -1px;
  left: -1px;
}

.card:hover .logo {
  transform: translate(70px, -52px);
  letter-spacing: 0px;
}